name: CI

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/build.gradle.kts'
      - 'gradle.properties'
      - 'settings.gradle.kts'
      - '**/src/main/**'
      - '**/src/test/**'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/build.gradle.kts'
      - 'gradle.properties'
      - 'settings.gradle.kts'
      - '**/src/main/**'
      - '**/src/test/**'

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.caching=true

jobs:
  #  We only execute nativeTest on `dynamic-datasource-spring-boot3-starter`, since only Spring Boot OSS 3 provides support for GraalVM Native Image
  test-graalvm-ce-ci:
    name: NativeTest CI - GraalVM CE ${{ matrix.java-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    continue-on-error: true
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-version: [ '21.0.1' ]
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'gradle'
      - name: Build Spring Boot Starter 3 test with Gradle
        run: |
          ./gradlew :dynamic-datasource-spring-boot3-starter:nativeTest --no-daemon
  test-jdk-ci:
    name: Test CI - JDK ${{ matrix.java-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-version: [ '8', '17', '21' ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'gradle'
      - name: Build test with Gradle (JDK 8)
        if: matrix.java-version == '8'
        run: |
          ./gradlew :dynamic-datasource-spring-boot-starter:clean :dynamic-datasource-spring-boot-starter:test --no-daemon
      - name: Build test with Gradle (JDK 11+)
        if: matrix.java-version != '8'
        run: |
          ./gradlew clean test --no-daemon --parallel
